{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <h2>Liste des jeux de l'utilisateur</h2>
    <ul class="list-group">
        {% for game in user.games %}
            <li class="list-group-item"><a href="{{ path('game', {id : game.id}) }}">{{ game.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('home') }}">
        Retour à la page d'accueil
    </a>
{% endblock %}
